.drawer-enter {
    bottom:-100px;
}
.drawer-enter-active {
    bottom:120px;
    animation:bubbleBorder 500ms alternate;
    transition: bottom 400ms;
}

.drawer-enter-active > div{
    animation:bubbleBorder 500ms alternate;
}

.drawer-exit {
    bottom:100px;
}
.drawer-exit-active {
    bottom:-100px;
    transition: bottom 400ms;
}

.drawer-enter-done{
    bottom:100px;
    animation:bubbleBorderBack 300ms;
    transition: bottom 400ms;
}

.drawer-enter-done > div {
    animation:bubbleBorderBack 300ms;
}

.navigation{
    width: 40%;
}

@media all and (max-width:1200px){
    .navigation{
        width:70%;
    }
}


@media all and (max-width:767px){
    .navigation{
        width:100%;
    }
}

@keyframes bubbleBorder {
    0% {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  
    100% {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
@keyframes bubbleBorderBack {
    0% {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    100% {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}

@keyframes bubbleBorderDs {
    0% {
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  
    100% {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
@keyframes bubbleBorderBackDs {
    0% {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    100% {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}

@keyframes jump {
    0% {
        bottom:0;
    }

    100% {
        bottom:30px;
    }
}

@keyframes header-from-bottom {
    0% {
        bottom:-60px;
    }

    100% {
        bottom:0;
    }
}

@keyframes header-from-top {
    0% {
        top:-60px;
    }

    100% {
        top:0;
    }
}



.drawer-ds-enter {
    top:-100px;
}
.drawer-ds-enter-active {
    top:120px;
    animation:bubbleBorderDs 500ms alternate;
    transition: top 400ms;
}

.drawer-ds-enter-active > div{
    animation:bubbleBorderDs 500ms alternate;
}

.drawer-ds-exit {
    top:100px;
}
.drawer-ds-exit-active {
    top:-100px;
    transition: top 400ms;
}

.drawer-ds-enter-done{
    top:100px;
    animation:bubbleBorderBackDs 300ms;
    transition: top 400ms;
}

.drawer-ds-enter-done > div {
    animation:bubbleBorderBackDs 300ms;
}