.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container{
    padding-top: 60px;
    padding-bottom: 0;
}

.front-logo{
    font-size: 15rem;
}


svg {
    stroke: #000;
    stroke-width: 1;
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation-name: draw;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    animation-timing-function: linear;

}
  
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@media all and (max-width:1200px){
    .front-logo{
        font-size: 12rem;
    }
}


@media all and (max-width:1200px){
    .page-container{
        padding-top: 0;
        padding-bottom: 60px;
    }
}

@media all and (max-width:767px){
    .front-logo{
        font-size:8rem;
    }
}

.react-ripples{
    width: 100%;
    height: 100%;
}